body {
  font-family: 'Barlow Condensed','Nunito','Karla', sans-serif; 
  color: black;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

button {
  background-color:#B8181E;
  border-radius: 10px;
  padding: 12px;
  color: white;
}

.inputLabel {
  font-size: 14px;
  font-weight: bold;
}

input.inputField {
  padding: 5px;
  border: 1px solid black;
}

div.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

#primary1 {
  background-color: #B8181E;
}

#primary2 {
  background-color: #FFFFFF;
  border: 1px solid gray;
}

#primary3 {
  background-color:  #F8E9E5;
}

#primary4 {
  background-color: #FFF75C;
}

#primary5 {
  background-color: #80B340;
}

.warning {
  background-color: yellow;
  font-weight: bold;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.danger {
  background-color: red;
  font-weight: bold;
  color:black;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: green;
  font-weight: bold;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

svg.svg-inline--fa {
  color: white;
}

.spacer {
  margin-top: 25px;
}

#footer {
  border-top: 1px solid #dddddd;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}


#boxes .box {

}